.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.h {
  grid-area: header;
  background-color: lightblue;
  border: 2px solid black;
  padding: 10px;
}

.s {
  grid-area: sidebar;
  background-color: lightgray;
  border: 2px solid black;
  padding: 10px;
}

.c {
  grid-area: content;
  background-color: lightgreen;
  border: 2px solid black;
  padding: 10px;
}

.f {
  grid-area: footer;
  background-color: lightcoral;
  border: 2px solid black;
  padding: 10px;
}

.g {
  grid-area: bottom;
  background-color: lightcoral;
  border: 2px solid black;
  padding: 10px;
}