.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.A {
  border: 2px solid black;
  background-color: lightsteelblue;
}

.span-6 {
  grid-column: span 6;
}

.span-3 {
  grid-column: span 3;
}